:root
{
    --bg-black-900:#f2f2fc;
    --bg-black-100:#fdf9ff;
    --bg-black-50:#e8dfec;
    --text-black-900:#302e4d;
    --text-black-700:#504e70;
}

body.dark {
    color: linear-gradient(#141e30, #0e1721);
    background: rgba(26, 24, 24, 0.933);
    color: #198754;



}
.day-light{
    color: wheat;
}


.navbar{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    z-index: 1;
    /* position: fixed; */

  }


  .nav-border{
    border-radius: 20px;


}
.margin-benvenuto{
  margin-left: -15%;
}

@media screen and (max-width:700px) {
  .nav-border{
    border-radius: 10px;


}
.margin-benvenuto{
  margin-left: -31px;
}

}

.bg-welcome{
  background-color: #252525;
}

.bg_color{
    background-color:rgba(24, 20, 20, 0.907);
}
.bg_color-footer{
    background-color:rgb(14, 12, 12);
}

.alt{
    align-items: center;;
}
.search{
    border-radius: 54px;
    height: 8vh;
}
.btn-search{
    border-radius: 54px;
}
.background-header{
    background-image: url(/storage/app/public/artem-gavrysh-F6-U5fGAOik-unsplash.jpg);
    height: 100vh;
    background-size: cover;
    background-position: 0%;
}
.altezza {
    height: 40vh;
}
/* font */
.font{
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto Slab', serif;
}

.font-inserire{
  font-size: 45px;
}

/* colore sfondo */
body{
    background-color: rgba(255, 255, 255, 0.61);
}
/* .bg-1{
  background-color: rgba(184, 25, 25, 0.61);
} */
/* form */
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    background-color: #171717;
    border-radius: 25px;
    transition: .4s ease-in-out;
  }

  .form:hover {
    transform: scale(1.05);
    border: 1px solid black;
  }

  #heading {
    text-align: center;
    margin: 2em;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
  }

  .field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: white;
    background-color: #171717;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  }

  .input-icon {
    height: 1.3em;
    width: 1.3em;
    fill: white;
  }

  .input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #d3d3d3;
  }

  .form .btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 2.5em;
  }

  .button1 {
    padding: 0.5em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    border-radius: 5px;
    margin-right: 0.5em;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #252525;
    color: white;
  }

  .button1:hover {
    background-color: black;
    color: white;
  }
  .button3 {
    margin-bottom: 3em;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #252525;
    color: white;
  }

  .button3:hover {
    background-color: red;
    color: white;
  }

  /* button di registrazione */
  .btn-register {
    font-family: inherit;
    font-size: 20px;
    background:  rgba(255, 255, 255, 0.61);
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
  }
  .btn-register:hover {
    color: #fefdfd;
  }

  .btn-register span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }

  .btn-register svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }

  .btn-register:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
  }

  .btn-register:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
  }

  .btn-register:hover span {
    transform: translateX(5em);
  }

  .btn-register:active {
    transform: scale(0.95);
  }

  @keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }

    to {
      transform: translateY(-0.1em);
    }
  }


  .img{
    background-image: url(/public/storage/img/artem-gavrysh-F6-U5fGAOik-unsplash.jpg);
  }
  .padding-dropdown{
    padding-bottom: 0% !important;
  }
  .backg{
    background-color:#678983;
  }
  textarea{
    height: 60px;
  }
  .bg-textarea{
    background-color: #171717 !important;
    border: 1px solid #171717;

  }
  .bg-textarea:hover{
    background-color: #171717;
    border: 1px solid #171717;
    color: white;

  }
  .bg-categoria{
    background-color: #171717 !important;
    border: 1px solid #b7b5b5;
    color: white !important;
  }
  a{
    text-decoration: none;
    color: rgb(0, 119, 255);
  }




  /* spinerrr */



  .loader {
    --cell-size: 30px;
    --cell-spacing: 1px;
    --cells: 3;
    --total-size: calc(var(--cells) * (var(--cell-size) + 2 * var(--cell-spacing)));
    display: flex;
    flex-wrap: wrap;
    width: var(--total-size);
    height: var(--total-size);
  }

  .cell {
    flex: 0 0 var(--cell-size);
    margin: var(--cell-spacing);
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 4px;
    animation: 1.5s ripple ease infinite;
  }

  .cell.d-1 {
    animation-delay: 100ms;
  }

  .cell.d-2 {
    animation-delay: 200ms;
  }

  .cell.d-3 {
    animation-delay: 300ms;
  }

  .cell.d-4 {
    animation-delay: 400ms;
  }

  .cell:nth-child(1) {
    --cell-color: #5cb85c;
  }

  .cell:nth-child(2) {
    --cell-color: #5cb85c;
  }

  .cell:nth-child(3) {
    --cell-color: #5cb85c;
  }

  .cell:nth-child(4) {
    --cell-color: #5cb85c;
  }

  .cell:nth-child(5) {
    --cell-color:#5cb85c;
  }

  .cell:nth-child(6) {
    --cell-color:#5cb85c;
  }

  .cell:nth-child(7) {
    --cell-color:#5cb85c;
  }

  .cell:nth-child(8) {
    --cell-color:#5cb85c;
  }

  .cell:nth-child(9) {
    --cell-color:#5cb85c;
  }

  /*Animation*/
  @keyframes ripple {
    0% {
      background-color: transparent;
    }

    30% {
      background-color: var(--cell-color);
    }

    60% {
      background-color: transparent;
    }

    100% {
      background-color: transparent;
    }
  }
   .my-mio{
    margin: 40vh;
   }

   /* background home */
   .bg-home {
    background-image: linear-gradient(0deg, rgba(3, 2, 27, 0.329) 40%, rgb(255, 255, 255, 61) 100%), url(/public/images/change-gc22ee721a_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0%;
    height: 100vh;
    position: relative;
    z-index: -1;
    top: -140px ;
}
   .distance{
    top: 130px;
    position: relative;
}

  /* card */
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
  *{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
  }
  :root{
    --color-text: #616161;
    --color-text-btn: #ffffff;
    --card1-gradient-color1: #f12711;
    --card1-gradient-color2: #f5af19;
    --card2-gradient-color1: #7F00FF;
    --card2-gradient-color2: #E100FF;
    --card3-gradient-color1: #3f2b96;
    --card3-gradient-color2: #a8c0ff;
    --card4-gradient-color1: #11998e;
    --card4-gradient-color2: #38ef7d;
  }
    .card-wrap{
      width: 320px;
      background: #fff;
      border-radius: 20px;
      border: 5px solid #fff;
      overflow: hidden;
      color: var(--color-text);
      box-shadow:  5px 5px 15px #5a5a5a,
      -5px -5px 15px #ffffff;
      cursor: pointer;
      transition: all .2s ease-in-out;
      height: 520px ;
    }
    .card-wrap:hover{
      transform: scale(1.1);
    }
  .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 0 auto;
  }
  .card-title{
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;

  }
  .card-text{
    text-align: center;
    font-size: 12px;
    margin-bottom: 20px;
  }
  .card-btn{
    border: none;
    border-radius: 100px;
    padding: 5px 30px;
    color: #fff;
    background-color: #171717;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  .card-btn:hover{
    background-color:  rgb(21, 77, 58);
    color: white
  }
  .card-header.one{
    background: linear-gradient(to bottom left, var(--card1-gradient-color1), var(--card1-gradient-color2));
  }
  .card-header.two{
    background: linear-gradient(to bottom left, var(--card2-gradient-color1), var(--card2-gradient-color2));
  }
  .card-header.three{
    background: linear-gradient(to bottom left, var(--card3-gradient-color1), var(--card3-gradient-color2));
  }
  .card-header.four{
    background: linear-gradient(to bottom left, var(--card4-gradient-color1), var(--card4-gradient-color2));
  }

  .card-btn.one{
    background: linear-gradient(to left, var(--card1-gradient-color1), var(--card1-gradient-color2));
  }
  .card-btn.two{
    background: linear-gradient(to left, var(--card2-gradient-color1), var(--card2-gradient-color2));
  }
  .card-btn.three{
    background: linear-gradient(to left, var(--card3-gradient-color1), var(--card3-gradient-color2));
  }
  .card-btn.four{
    background: linear-gradient(to left, var(--card4-gradient-color1), var(--card4-gradient-color2));
  }


.visible-scrollbar,
.invisible-scrollbar,
.mostly-customized-scrollbar {
  display: block;
  width: 19.4em;
  overflow: auto;
  height: 4em;
}

.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Demonstrate a "mostly customized" scrollbar
 * (won't be visible otherwise if width/height is specified) */
.mostly-customized-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 1px;
  background-color: #aaa; /* or add it to the track */
}

/* Add a thumb */
.mostly-customized-scrollbar::-webkit-scrollbar-thumb {
  background: #000;
}

.maargin{
  margin-top: 10.4px;
}

li{
  text-decoration: none;
  list-style-type: none;
}

/* google maps footer */
.mappa{
  height: 40vh;
}

.radius{
  border-radius: 20px;

}

/* immagini card sistemate*/
.card-img{
  width: 100%;
  height: 230px;
}


/* sezione contatori */
.number{
  font-size: 3rem;
  font-weight: 500;
}

.href-color{
  color: #137e4cd2;
  font-size: 15px;
}

.href-color:hover{
  color: #171717;
}

.back-show{
  background-color:#4d6963;
}

.test-show{
  color: #000;
}

/*linea counter*/
.linear-counter{
    width: 150px;

    left: 130px;
}

.box-radius{
    border-radius: 54px;
}
